<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.haloai.hud.androidendpoint">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b2bf16ef1c62b32329c38841ced9b4fa" />

        <activity
            android:name=".views.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       <activity
            android:name=".demo.BasicMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.navi.HudPoiTipsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service
            android:name="com.amap.api.location.APSService"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.navi.HudMapPointActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".views.carcorder.HudCarcorderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.settings.HudSettingsActivity"
            android:label="@string/title_activity_hud_settings"
            android:screenOrientation="portrait" />
        <activity android:name=".views.navi.HudAddCollectionActivity" />
        <activity android:name=".demo.DemoDrawerActivity" />
        <activity android:name=".demo.TestPhone2HudConnection" />
        <activity android:name=".views.navi.HudStartNaviActivity"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>